<!DOCTYPE html>
<html  lang="en-US">
    
	<head>
	
		<meta charset="UTF-8">
		
		<title>Template</title>
		
		<link rel="icon" type="image/icon" href="favicon.ico">

		<link rel="stylesheet" href="template.css">

		<!-- JavaScript before DOM -->
		<script>
			var date = new Date();
			console.log(`Today's date is ${date}`);
		</script>
		
	</head>
	
    <body>
		
		<h1 oncontextmenu="alert('right click')" >Basic HTML template</h1>

		<!-- JavaScript after DOM -->
		<script src="template.js"></script>	
		
    </body>
		
</html>