.form, .result{
    display: inline-block;
}

.result{
    margin-left: 50px;
    vertical-align: top;    
    color: blue;
	font-weight: bold;
}

input, #result, select{
    display: block;
    margin: 10px;
    padding: 10px;
	width: 200px;
	font-size: 20px;
}

#submit{
    margin-bottom: 30px;
}

img{
    display: block;
    width: 64px;
    height: 64px;
	margin-top: 20px;
    margin-bottom: 30px;
}

#result, select{
    border: 1px solid blue;	
}

#result{
    height: 280px;
}

select{
	width: 222px;
}
